body {
    padding-left: 10px;
}


button {
    margin-top: 10px;
    
}

#container {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    
}

#left {
    
    display: inline-block;
    float: left;

}

#current {
    
    border: solid 2px black;
    position: relative;
    width: 700px;
    left: 20px;
    padding: 5px;
    display: inline-block;
    float: left;
}

#container2 {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    
}

#left2 {
    
    display: inline-block;
    float: left;

}

#fiveDay {
    position: relative;
    width: 1500px;
    left: 20px;
    
    display: inline-block;
    float: left;
}

#day1 {
    position: relative;
    background-color: grey;
    border: black 2px solid;
    float: left;
    width: 200px;
}

#day2 {
    background-color: grey;
    float: left;
    border: black 2px solid;
    width: 200px;
    margin-left: 10px;
}

#day3 {
    background-color: grey;
    float: left;
    border: black 2px solid;
    width: 200px;
    margin-left: 10px;
}

#day4 {
    background-color: grey;
    float: left;
    border: black 2px solid;
    width: 200px;
    margin-left: 10px;
}

#day5 {
    background-color: grey;
    float: left;
    border: black 2px solid;
    width: 200px;
    margin-left: 10px;
}