


button {
    margin-top: 10px;
    
}

#container {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #ff00ff;
}

#left {
    background: green;
    display: inline-block;
    float: left;

}

#current {
    
    border: solid 2px black;
    position: relative;
    width: 700px;
    left: 20px;
    background: aquamarine;
    display: inline-block;
    float: left;
}

#container2 {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

#left2 {
    background: salmon;
    display: inline-block;
    float: left;

}

#fiveDay {
    position: relative;
    width: 700px;
    left: 20px;
    background: gold;
    display: inline-block;
    float: left;
}